html, body {
    height: 100%;
}


body {
    background-color: hsl(30, 38%, 92%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#page {
    width: 600px;
    height: 450px;

    display: flex;
}

div div {
    width: 50%;
    height: 450px;
  
}

#product_img {
    background-image: url("images/image-product-desktop.jpg");
    background-size: 100% 100%;
    border-radius: 10px 0px 0px 10px;
}

#product {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 10px 10px 0;
}